body {
    background-color: rgb(250, 245, 255);
}

section {
    margin-top: 30px;
}

a,
i,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(112, 69, 194) !important;
}

a:hover {
    color: rgb(78, 47, 135) !important;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: rgb(139, 102, 208) !important;
}

.questions-container {
    background-color: white;
    width: max-content;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.container {
    margin-top: 30px;
}

#banner-section {
    width: 100%;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.banner-img {
    width: 70%;
}

#advantage-section {
    background-color: white;
    border-radius: 20px;
    padding: 50px 50px;
}

.advantage-item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.advantage-img {
    max-width: 80%;
    margin-bottom: 20px;
}

#qa-section {
    background-color: white;
    border-radius: 20px;
    padding: 100px 50px;
}

#footer-section {
    background-color: white;
    border-radius: 20px;
    padding: 50px 50px;
}

.contact-item {
    display: flex;
}

.contact-icon {
    margin-right: 10px;
}

.range-container {
    width: 80%;
    margin: 0 auto;
}

#result {
    background-color: white;
    padding: 20px 10px;
    border-radius: 20px;
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-range::-webkit-slider-thumb {
    background: rgb(112, 69, 194);
}

.form-range::-moz-range-thumb {
    background: rgb(112, 69, 194);
}

.form-range::-ms-thumb {
    background: rgb(112, 69, 194);
}

#map-section {
    border-radius: 20px;
    overflow: hidden;
}

.splide__slide {
    width: 100%;
    height: 200px;
    background-color: aqua;
}

#up-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: white;
    padding: 10px 15px;
    border-radius: 10px;
    border-color: rgb(112, 69, 194);
    border-style: solid;
}

@media (max-width: 768px) {
    #advantage-section {
        padding: 40px 15px;
    }
    .range-container {
        width: 100%;
    }
    #result {
        width: 100%;
    }
    #footer-section {
        padding: 40px 15px;
    }
}